#page4{
	background:url(../img/乐予H5-04.png);
	 background-size:100% 100%;
	z-index: 0;
}
#page4>div{

  color: #8f8f8f;
  z-index: 100;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  line-height: 19px;
  margin: auto auto;
  opacity: 0;
}
#page4 hr{
	height:1px;border:none;border-top:1px dashed #e03828;
	width: 100%;
	margin: 15px 0;
	padding: 0px 100%;
  opacity: 0;

}
#page4 >img{
opacity: 0;
z-index: -1;
 height: 100%;
    width: 100%;
}
#page4 div>h4{
  background-color: #e03828;
  padding: 2px 5px;
  margin-bottom: 7px;
  color: #fff;
  width: 70px;
  text-align: center;
  border-radius: 12px;
}
#page4 span{
	color: #e03828;
}

#page4 div:nth-of-type(even)>h4{
margin-left: 66%;
}
#page4 div:nth-of-type(odd)>hr{
margin-left: -66%;
}
#page4 div:nth-of-type(1){
top:10%;
left:40%;
text-align: left;
}

#page4 div:nth-of-type(2){
  top: 27%;
  left: -61%;
text-align: right;
}
#page4 div:nth-of-type(3){
top:44%;
left:40%;
text-align: left;

}
#page4 div:nth-of-type(4){
top: 61%;
  left: -61%;
text-align: right;


}
#page4 div:nth-of-type(5){
top:78%;
left:40%;
text-align: left;

}