*{
	padding: 0;
	margin: 0;

}
body{
	font-family: "幼圆";
	width: 100%;
	height: 100%;
	font-size: 20%;

	
}
.pages{
	width:100%;
	/*height: 1008px;*/
	
	/*width: 100%;
	height: 100%;*/
	/*z-index: -100;*/
	/*margin: 0 auto;*/
	position: relative;
	 background-size:100% 100%; 
	color: #fff;
}
.pics{
    opacity: 0;
	 position: absolute;
	 top:0;
	 left: 0;
	 width: 100%;
	 height: 100%
}