#page4{
	background:url(../img/乐予H5-04.png);
	/*background-color: #000;*/
	z-index: 0;
}
#page4>div{

color: #8f8f8f;
z-index: 100;
font-size: 14px;
/*font-weight: bold;*/
position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 257px;
  line-height:20px;
  

/* height: 100px; */
   /*border-bottom: 1px #e03828 dashed;*/
}
#page4 div>hr{
	height:1px;border:none;border-top:1px dashed #e03828;
	width: 400px;
}
#page4 >img{
opacity: 1;
z-index: -1;
}
#page4 div>h4{
  background-color: #e03828;
  padding: 2px 5px;
  margin-bottom: 7px;
  color: #fff;
  width: 65px;
  text-align: center;
  border-radius: 12px;
}
#page4 span{
	color: #e03828;
	/*font-weight: bold;*/
}
#page4 div:nth-of-type(even)>h4{
margin-left: 180px;
}
#page4 div:nth-of-type(odd)>hr{
margin-left: -142px;
}
#page4 div:nth-of-type(1){
 margin: 12% 36%;
text-align: left;
}
#page4 div:nth-of-type(2){
margin: 42% -1%;
text-align: right;
}
#page4 div:nth-of-type(3){
margin: 70% 36%;
text-align: left;
}
#page4 div:nth-of-type(4){
margin: 98% -1%;
text-align: right;
}
#page4 div:nth-of-type(5){
margin: 127% 36%;
text-align: left;
}